@model RVNLMIS.Models.PowerBI.AchievementModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .nav > li > a:hover, .nav > li > a:focus {
        background-color: #353F4F;
        text-decoration: none;
        color: #fff;
    }

    .high {
        padding: 5px 15px;
        background-color: palevioletred;
        color: #fff;
        border-radius: 3px;
    }

    input::file-selector-button {
        font-weight: bold;
        padding: 0.5em;
        background-color: #353f4f;
        color: #fff;
    }

    .commen-table tbody tr td {
        border: none;
    }
</style>

<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <input type="hidden" id="hiddenId" />
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 id="ModalTitle">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <h5 class="">
                    <i class="fa fa-trash-o text-red mr-1 fa-2x"></i>Are you sure you wish to delete selected record ?
                </h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary delete-confirm" id="btnDeleteConfirm">Ok</button>
                <button class="btn btn-default" data-dismiss="modal"> Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="content_wrapper">
    <div class="">
        @*<div class="page-header">

            </div>*@
        <!-- [ Main Content ] start -->
        <div class="">

            @*<div class="col-sm-3">
                    <div id="SectionForms">
                        @Html.Partial("_PartialEditSection", new RVNLMIS.Models.SectionModel())
                    </div>
                </div>*@

            <!-- [ horizontal-layout ] start -->
            <div class="">
                <div class="card">

                    <div class="card-header">

                        <div class="row">
                            <div class="col-md-7">
                                <h5>Achievement Details</h5>
                            </div>



                            <div class="col-md-5">
                                <div class="full-width">
                                    <div class="input-group input-group-sm">
                                        <input type="search" id="txtSearch" class="form-control mr-4" title="Search by Mile Code"
                                               aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search by project code" width="30%">


                                        <button type="submit" class="btn btn-sm waves-effect waves-light btn-outline-primary mr-2" href="javascript:void()" data-url="@Url.Action("_AddEditAchievement", "Achievement")" value="Save" id="btnCreateAchieve" title="Add Achievement"><i class="fas fa-plus"></i> Add</button>

                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table table-condensed" id="KendoHeight">
                            @(Html.Kendo().Grid<RVNLMIS.DAC.ViewAchievement>()
                    .Name("AchievementListGrid")
                    .Columns(columns =>
                    {

                    columns.Bound(c => c.ProjectCode).Title("Project Code") .HtmlAttributes(new { style = "text-align:center" })
                                        .HeaderHtmlAttributes(new { style = "text-align:center" }).Width(100);

                    columns.Bound(c => c.ProjectName).Title("Project Name").HtmlAttributes(new { style = "text-align:center" })
                                                               .HeaderHtmlAttributes(new { style = "text-align:center" }).Width(200);

                    columns.Bound(c => c.ProjectFullName).Title("Project Full Name").HtmlAttributes(new { style = "text-align:center" })

                                                               .HeaderHtmlAttributes(new { style = "text-align:center" }).Width(200);


                    columns.Bound(c => c.AchSeq).Title("Achievement Sequence").HtmlAttributes(new { style = "text-align:center" }).HeaderHtmlAttributes(new { style = "text-align:center" }).Width(100);

                    columns.Bound(c => c.AchQtyUnit).Title("Quantity Unit").HtmlAttributes(new { style = "text-align:center" }).Width(100)
                                           .HeaderHtmlAttributes(new { style = "text-align:center" });


                    columns.Bound(c => c.AchQty).Title("Achievement Quantity").HtmlAttributes(new { style = "text-align:center" })
                                                .HeaderHtmlAttributes(new { style = "text-align:center" }).Width(100);

                    columns.Bound(c => c.AchDesc).Title("Achievement Description").HtmlAttributes(new { style = "text-align:center" }).Width(200)
                                                .HeaderHtmlAttributes(new { style = "text-align:center" });


                    columns.Bound(c => c.Remark).Title("Remark").HtmlAttributes(new { style = "text-align:center" })
                                                .HeaderHtmlAttributes(new { style = "text-align:center" }).Width(100);


                    columns.Template(@<text></text>).Title("Action").ClientTemplate("<button  data-url='/Achievement/EditAchievementById/#=AchId#' class='EditAchieve btn btn-xs btn-info has-ripple'><i class='fa fa-edit'></i></button>" +
                                                       " <button type='button' id='btnDeleteGroup' class='btn btn-xs btn-danger has-ripple DeleteAchieve' data-key='#=AchId#' Title='Delete'><i class='fa fa-trash'></i></button>").HeaderHtmlAttributes(new { style = "text-align:center" }).Width(100);
                    }).Scrollable(scr => scr.Height(400))
                .Events(events => events
                .DataBound("DataBound"))
                .Sortable()
                .Resizable(resize => resize.Columns(true))
                .HtmlAttributes(new { style = "height:600px;" })
                .Groupable()
                .Pageable(pageable => pageable
                                                                                                                                                                                                    .Refresh(true)
                            .PageSizes(true)
                            .PageSizes(new List<object> { 10, 20, 50, "all" }).Refresh(true)

                )
                .PersistSelection(true)
                .DataSource(dataSource => dataSource
                .Ajax()
                .Model(model => model.Id(p => p.AchId))
                .Read(read => read.Action("Achievement_Details", "Achievement"))
                .PageSize(20))
                .NoRecords("No Record Found")

                  )
                        </div>
                    </div>

                </div>
            </div>
            <!-- [ horizontal-layout ] end -->
        </div>
    </div>
</div>



<div class="modal fade" id="partialModal" tabindex="-1" role="dialog" aria-labelledby="createAchieveModal" aria-hidden="true" data-backdrop="static">
    <div id="createachieveContainer" class="modal-dialog modal-lg">

    </div>
</div>

@section Scripts {
    <script>


        function resetRowNumber(e) {
            rowNumber = 0;
        }
        function DataBound() {
            rowNumber = 0;
            $(".EditAchieve").on("click", function (e) {
                e.preventDefault();
                var url = $(this).data("url");
                $.get(url, function (data) {
                    //  $('#SectionForms').html(data);
                    $('#createachieveContainer').html(data);
                    $('#partialModal').modal('show');
                    setTimeout(function () {
                        BindOnChangeEvent();
                    }, 500);
                });
            });


            $(".DeleteAchieve").on("click", function () {
                console.info('DeleteUser called');
                var Id = $(this).data("key");
                $("#hiddenId").val(Id);
                $("#btnDeleteConfirm").attr('data-id', Id);
                $("#modalDelete").modal({ backdrop: 'static', keyboard: false, position: 'center' });
            });
        }

        //#region ----Deleted group---
        $("#btnDeleteConfirm").on("click", function () {
            var id = $("#hiddenId").val();
            $.ajax({
                url: '/Achievement/DeleteAchievement/' + id,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function () {
                    //Refresh Kendo Grid
                    $("#modalDelete").modal('hide');
                    $('#AchievementListGrid').data('kendoGrid').dataSource.read();
                    $('#AchievementListGrid').data('kendoGrid').refresh();
                    $.notify('Deleted Successfully', { align: "right", verticalAlign: "top", type: "success", background: "#ff0000", color: "#fff" });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                }
            });
        });
        //#endregion


        $("#txtSearch").keyup(function () {
            var selecteditem = $('#txtSearch').val();
            var kgrid = $("#AchievementListGrid").data("kendoGrid");
            selecteditem = selecteditem.toUpperCase();
            var selectedArray = selecteditem.split(" ");
            if (selecteditem) {
                var orfilter = { logic: "or", filters: [] };
                var andfilter = { logic: "and", filters: [] };
                $.each(selectedArray, function (i, v) {
                    if (v.trim() == "") {
                    }
                    else {
                        $.each(selectedArray, function (i, v1) {
                            if (v1.trim() == "") {
                            }
                            else {
                                orfilter.filters.push({ field: "ProjectCode", operator: "contains", value: v1 }

                                );
                                andfilter.filters.push(orfilter);
                                orfilter = { logic: "or", filters: [] };
                            }

                        });
                    }
                });
                kgrid.dataSource.filter(andfilter);
            }
            else {
                kgrid.dataSource.filter({});
            }
        });


        function OnAchieveSuccess(response) {
            if (response.message == "Added Successfully") {
                ClearViewAndGrid();
                $.notify(response.message, { align: "right", verticalAlign: "top", type: "success", background: "#20D67B", color: "#fff" });

            }
            else if (response.message == "Updated Successfully") {
                ClearViewAndGrid();
                $.notify(response.message, { align: "right", verticalAlign: "top", type: "success", background: "#20D67B", color: "#fff" });

            }
            else if (response == "Already Exists") {
                // ClearViewAndGrid();
                $.notify(response, { align: "right", verticalAlign: "top", type: "warning", background: "#ff9933", color: "#ffffff" });
            }
            else {
                $('#createachieveContainer').html(response);

                return;
            }
        }

        function ClearViewAndGrid() {
            location.reload();

        }


        $("#btnCreateAchieve").on("click", function () {
            var url = $(this).data("url");
            $.get(url, function (data) {
                $('#createachieveContainer').html(data);
                $('#partialModal').modal('show');
                BindOnChangeEvent();
            });
        });
                                //#endregion
    </script>
}
