

@{
                /**/

                ViewBag.Title = "UnderConst";
                Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>
    body {
        overflow: hidden;
    }
</style>

<div class="auth-wrapper maintance bg-white">
    <div class="">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12 col=lg-12">
                <div class="text-center">
                    <img src="Content/assets/images/maintance/reportscomingsoon.jpg" alt="" class="img-fluid">
                    @*<h5 class="text-muted my-4">Site Under Maintenance!, Visit after some times</h5>*@
                    @*<form action="/UnderConstruction/Index">
                        <button class="btn waves-effect waves-light btn-primary mb-4"><i class="feather icon-refresh-ccw mr-2"></i>Reload</button>
                    </form>*@
                </div>
            </div>
        </div>
    </div>
</div>