
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/RFI/Views/Shared/_RFIFilteredLayout.cshtml";
}

<link href="~/Content/assets/css/pages.css" rel="stylesheet">
<style>

    .pcoded-main-container {
        background: url(../../Content/images/screen2.jpg) center top / cover no-repeat !important;
        position: relative;
        margin: 0 auto;
        padding-top: 0;
        display: block;
        clear: both;
        float: unset;
        right: 0;
        top: 0;
        margin-left: 230px;
        min-height: 100vh;
        transition: all 0.3s ease-in-out;
    }

    .login-block {
        margin: 0;
    }

    .lockscreen .card .card-block, .card .card-body {
        width: 100%;
        position: absolute;
        background-color: #ffffff;
        border-radius: 25px;
        padding: 45px 60px;
    }

    .login-block .auth-box {
        margin: 20px auto 0 auto;
        max-width: 400px !important;
    }
</style>
<div class="lockscreen">
    <!-- Pre-loader start -->
    <!-- Pre-loader end -->
    <section class="login-block">
        <!-- Container-fluid starts -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 m-t-10">
                    <!-- Login card start -->
                    <div class="md-float-material form-material">

                        <div class="auth-box card" style="">


                            <div class="modal-body" id="noscroll">
                
                                <div class="text-center">
                                    <h3 class="mt-3">Reset<span class="text-blue"> Password</span></h3>
                                </div>
                                <div class="carousel-inner text-center">
                                    <div class="carousel-item active" data-interval="50000">

                                        <div class="row justify-content-center">
                                            <div class="col-lg-12">
                                                <p class="f-16">
                                                    <img src="~/Content/images/ProfilePic.png" alt="logo.png" style="max-width:20% !important">
                                                </p>
                                                <h5 class="text-center"> @(Html.Encode(User.Identity.Name.Split('|')[0]))</h5>
                                                <div class="saperator_multiple_centered"><div class="divider_multiple"></div><div class="divider_green"></div></div>

                                                <div class="row justify-content-center text-left">
                                                    <div class="col-md-12">

                                                        <div class="mt-4">
                                                            <div class="pb-1 pt-1">
                                                                <h6 class="form-group fill">
                                                                    <label for="inputPassword4">Old Password</label>
                                                                    <div class="input-group input-group-sm mb-3">
                                                                        <input type="password" class="form-control md-addon" id="txtOldPassword" placeholder="Ex:  *******">
                                                                        <div class="input-group-prepend viewme" onmouseover="mouseoverOldPass();" onmouseout="mouseoutOldPass();">
                                                                            <i class="fa fa-eye input-group-text"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="full-width">
                                                                        <span class="errorrequired text-danger" style="display:none;"> required</span>
                                                                    </div>
                                                                </h6>
                                                            </div>



                                                            <div class="pb-1 pt-1">
                                                                <h6 class="form-group fill">
                                                                    <label for="inputPassword4">New Password</label>
                                                                    <div class="input-group input-group-sm mb-3">
                                                                        <input type="password" class="form-control md-addon" id="txtNewPassword" placeholder="Ex: *******">
                                                                        <div class="input-group-prepend viewme" onmouseover="mouseoverNewPass();" onmouseout="mouseoutNewPass();">
                                                                            <i class="fa fa-eye input-group-text"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <span class="errorrequired text-danger" style="display:none;"> required</span>
                                                                        <span id="passlength" style="display:none;color:red;"> Password should have at least 8 characters.</span>
                                                                    </div>
                                                                </h6>
                                                            </div>



                                                            <div class="pb-1 pt-1">
                                                                <h6 class="form-group fill">
                                                                    <label for="inputPassword4">Confirm Password</label>
                                                                    <div class="input-group input-group-sm mb-3">
                                                                        <input type="password" class="form-control md-addon" id="txtConfirmPassword" placeholder="Ex: *******">
                                                                        <div class="input-group-prepend viewme" onmouseover="mouseoverRepPass();" onmouseout="mouseoutRepPass();">
                                                                            <i class="fa fa-eye input-group-text"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <span class="errorrequired text-danger" style="display:none;"> required</span> <span id="error" style="display:none;color:red;"> Password do not match</span>
                                                                        <span id="success" style="display:none;color:forestgreen;"> Password match</span>
                                                                    </div>
                                                                </h6>
                                                            </div>

                                                            
                                                            <button type="submit" id="btn-SaveChangePassword" class="btn btn-sm full-width btn_theme btn-block waves-effect text-center m-b-20" value="Save" style="display:none;"> Save</button>
                                                                 


                                                        </div>





                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                </div>

                            </div>

                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" style="transform:rotate(180deg);margin-bottom:-1px">
                                        <path class="elementor-shape-fill" fill="#4680ff" opacity="0.33" d="M473,67.3c-203.9,88.3-263.1-34-320.3,0C66,119.1,0,59.7,0,59.7V0h1000v59.7 c0,0-62.1,26.1-94.9,29.3c-32.8,3.3-62.8-12.3-75.8-22.1C806,49.6,745.3,8.7,694.9,4.7S492.4,59,473,67.3z">
                                        </path>
                                        <path class="elementor-shape-fill" fill="#4680ff" opacity="0.66" d="M734,67.3c-45.5,0-77.2-23.2-129.1-39.1c-28.6-8.7-150.3-10.1-254,39.1 s-91.7-34.4-149.2,0C115.7,118.3,0,39.8,0,39.8V0h1000v36.5c0,0-28.2-18.5-92.1-18.5C810.2,18.1,775.7,67.3,734,67.3z"></path>
                                        <path class="elementor-shape-fill" fill="#4680ff" d="M766.1,28.9c-200-57.5-266,65.5-395.1,19.5C242,1.8,242,5.4,184.8,20.6C128,35.8,132.3,44.9,89.9,52.5C28.6,63.7,0,0,0,0 h1000c0,0-9.9,40.9-83.6,48.1S829.6,47,766.1,28.9z"></path>
                                    </svg>
                           

                        </div>
                    </div>
                    <!-- Login card end -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
    </section>


    <!-- i18next.min.js -->
    <script src="~/Content/assets/js/i18next.min.js"></script>
    <script src="~/Content/assets/js/i18nextXHRBackend.min.js"></script>
    <script src="~/Content/assets/js/i18nextBrowserLanguageDetector.min.js"></script>
    <script src="~/Content/assets/js/jquery-i18next.min.js"></script>

</div>

    <script>


        $(document).ready(function () {

            $("#btn-SaveChangePassword").on("click", function () {
                var empty = 0;
                if ($('#txtOldPassword').val() == "")
                    $(".errorrequired").show('slow');
                else if ($('#txtNewPassword').val() == "")
                    $(".errorrequired").show('slow');
                else if ($('#txtNewPassword').val() == "")
                    $(".errorrequired").show('slow');
                else {

                    //var length = ($('#txtNewPassword').val()).length;
                    //console.length(length);
                    //if (length < 8) {
                    //    $("#passlength").show();
                    //}
                    //else {
                    //    $("#passlength").hide();
                    //}

                    $(".errorrequired").hide();
                    var std = {};
                    std.oldPassword = $("#txtOldPassword").val();
                    std.newPassword = $("#txtNewPassword").val();
                    $.ajax({
                        //url: '/login/VerifyEmail/',
                        url: '/RFI/RFILogin/SubmitPass',
                        //   data: '{oldPassword: "' + oldPassword + '" }',
                        data: JSON.stringify(std),
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            if (data == "2") {
                                $.notify('Old Password is incorrect.', { align: "right", verticalAlign: "top", type: "success", background: "#ff0000", color: "#fff" });
                                ClearFormGrid();
                            } else if (data == "1") {
                                $.notify('Password Successfully Changed!', { align: "right", verticalAlign: "top", type: "success", background: "#20D67B", color: "#fff" });
                                window.location.href= '@Url.Action("Index", "RFILogin",new { Area = "RFI" })';
                               // ClearFormGrid();
                            } else {
                                $.notify('Technical Error Please Try Again Later', { align: "right", verticalAlign: "top", type: "success", background: "#fcdc4c", color: "#08212c" });
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            //ShowErrorMessage('Error deleting Project!');
                        }
                    });
                }


            });

            $("#txtNewPassword").keyup(function () {
                var length = ($('#txtNewPassword').val()).length;
                console.log(length);
                if (length < 8) {
                    $("#passlength").show();
                }
                else {
                    $("#passlength").hide();
                }
            });

            $("#txtConfirmPassword").keyup(function () {
                console.log("Handler for .keypress() called.");
                var password = $("#txtNewPassword").val();
                var confirmPassword = $("#txtConfirmPassword").val();
                if (password != confirmPassword) {
                    $('#error').show();
                    $('#success').hide();
                    $('#btn-SaveChangePassword').hide();
                    return false;
                } else {
                    $('#success').show();
                    $('#error').hide();
                    $('#btn-SaveChangePassword').show();
                }
                return true;
            });
        });

        function mouseoverOldPass(obj) {
            console.log("mouse over");
          var obj = document.getElementById('txtOldPassword');
          obj.type = "text";
        }
        function mouseoutOldPass(obj) {
            console.log("mouse out");
          var obj = document.getElementById('txtOldPassword');
          obj.type = "password";
        }
        function mouseoverNewPass(obj) {
            console.log("mouse over");
          var obj = document.getElementById('txtNewPassword');
          obj.type = "text";
        }
        function mouseoutNewPass(obj) {
            console.log("mouse out");
          var obj = document.getElementById('txtNewPassword');
          obj.type = "password";
        }
        function mouseoverRepPass(obj) {
            console.log("mouse over");
          var obj = document.getElementById('txtConfirmPassword');
          obj.type = "text";
        }
        function mouseoutRepPass(obj) {
            console.log("mouse out");
          var obj = document.getElementById('txtConfirmPassword');
          obj.type = "password";
        }
        function myFunction() {
          var x = document.getElementById("txtOldPassword");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }

        function ClearFormGrid() {
            $("#txtConfirmPassword").val("");
            $("#txtNewPassword").val("");
            $("#txtOldPassword").val("");
            $('#error').hide();
            $('#success').hide();
            $('#btn-SaveChangePassword').hide();
        }

    </script>
