
@model RVNLMIS.Models.UserModel
@{
    Layout = null;
}

<div class="row">
    <div class=" col-md-12">
        <button type="button" class="btn btn-warning btn-sm rounded mb-2 float-right" data-toggle="collapse" data-target=".pro-det-edit" aria-expanded="false" aria-controls="pro-det-edit-1 pro-det-edit-2">
            <i class="feather icon-edit mr-2"></i> Edit Profile
        </button>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label font-weight-bolder">Full Name</label>
    <div class="col-sm-9">
        @Model.Name
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label font-weight-bolder">Mobile Number</label>
    <div class="col-sm-9">
        @Model.MobileNo
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label font-weight-bolder">Email Address</label>
    <div class="col-sm-9">
        @Model.MobileNo
    </div>
</div>