<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="LogFile" value="ERRORLOG/Log.txt"/>
    <!--<add key="ServerPath" value="http://dev.primabi.com" />-->
    <add key="ServerPath" value="https://dev.primabi.com"/>
    <add key="CadUrl" value="https://cad.primabi.com/"/>
    <!--for Power bi reports-->
    <add key="tenant-id" value="83d5a119-a55e-41c2-af64-9d73f57d19cc"/>
    <add key="application-Id" value="8d253e1b-8fdc-40dd-a3d1-9ef7878acf7c"/>
    <add key="application-secret" value=".Q7H-8?2]o5N-36Q1/8Wn67cCba?C-Qa"/>
    <!--<add key="tenant-id" value="83d5a119-a55e-41c2-af64-9d73f57d19cc" />
    <add key="application-Id" value="98219b4f-b517-4674-8f5d-85f65d589935" />
    <add key="application-secret" value="c7fh57y.ttVz3ptkT@*MjfzGrEPXkkM:" />-->
    <add key="app-workspace-id" value="6f4d657f-3090-4463-a619-86e4e6fce938"/>
    <add key="report-id" value="7b68cc2d-1114-46ff-a289-65e5d1a5a818"/>
    <add key="dashboard-id" value="c21fa099-6956-4b46-92cc-cc4d9e3a531b"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000"/>
    <!--AUtodesk viwer setting-->
    <add key="FORGE_CLIENT_ID" value="LhFubwbtm7doUXy1u1UeKooXTlVP4VMh"/>
    <add key="FORGE_CLIENT_SECRET" value="NURFawpzUzyjCeEl"/>
    <add key="FORGE_CALLBACK_URL" value="https://dev.primabi.com"/>
    <!--SMS Setup-->
    <add key="ToadminSMS" value="9960030007"/>
    <add key="strUsernamePrefix" value="stec-"/>
    <add key="strUsername" value="primabi"/>
    <add key="strPassword" value="primabi"/>
    <add key="strType" value="0"/>
    <add key="strDelivery" value="1"/>
    <add key="strSource" value="SQUARE"/>
    <!--new sms service-->
    <add key="authkey" value="YmJmOGU0ZmUxMDY"/>
    <add key="sender" value="PRIMAB"/>
    <add key="type" value="1"/>
    <add key="route" value="2"/>
    <!--SMS Setup ens-->
    <!--for Send Mail-->
    <add key="HOST" value="webmail.primabi.com"/>
    <add key="SMTPPORT" value="25"/>
    <add key="PASSWORD" value="prim@bi123$"/>
    <add key="SUPPORTFROM" value="support@primabi.com"/>
    <add key="SUPPORTTO" value="support@primabi.com"/>
    <!-- Web push-->
    <add key="webPushKey" value="NjdiMjUyODgtNWZkNy00MDdjLWFkODEtYTc0YmQ1YmFlNTMy"/>
    <add key="webPushAppId" value="2fb1b07a-53c8-44ad-b8ea-281f693f1fda"/>
    <add key="webPushSafari" value="web.onesignal.auto.19aac151-6a52-4f31-b603-0bf7908b06b4"/>
    <add key="notifyUrl" value="https://notify.primabi.com/"/>
    <!--https://localhost:44379/-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.6.1" maxRequestLength="1048576" executionTimeout="3600"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <!--<customErrors mode="Off" />-->
    <authentication mode="Forms">
      <forms name="RVNLMIS-AUTH" loginUrl="/Login/Index" timeout="60" protection="Validation" path="/"/>
    </authentication>
    <!--<customErrors mode="On">
      <error statusCode="404" redirect="~/Error/ErrorPage" />
      <error statusCode="500" redirect="~/Error/ErrorPage" />
    </customErrors>-->
    <sessionState timeout="20"/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="TelemetryCorrelationHttpModule"/>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-Powered-By" value="ASP.NET"/>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--Live Database-->
    <!--<add name="connString" providerName="System.Data.SqlClient" connectionString="Data Source=188.138.1.54,9999; database=dbRVNLMIS;User ID=userRVNLMIS;Password=q1w2e3r4" />
    <add name="dbRVNLMISEntities" connectionString="metadata=res://*/DAC.RVNLMISModel.csdl|res://*/DAC.RVNLMISModel.ssdl|res://*/DAC.RVNLMISModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=188.138.1.54,9999;initial catalog=dbRVNLMIS;persist security info=True;user id=userRVNLMIS;password=q1w2e3r4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Testing Database-->
    <add name="connString" providerName="System.Data.SqlClient" connectionString="Data Source=188.138.1.54,9999; database=dbDevPBI;User ID=userDev;Password=Asdlkj@123"/>
    <add name="dbRVNLMISEntities" connectionString="metadata=res://*/DAC.RVNLMISModel.csdl|res://*/DAC.RVNLMISModel.ssdl|res://*/DAC.RVNLMISModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=188.138.1.54,9999;initial catalog=dbDevPBI;persist security info=True;user id=userDev;password=Asdlkj@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>